.container-box {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

.form-container{
  width : 500px;
  height : 500px;
  background-color: aliceblue;
  border-radius: 16px;
}

.form-heading{
  margin:16px;
}

.password-container{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width : 400px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.password{
  padding: 12px;
  margin-top: 6px;
}

.copy-button{
  background-color: rgb(80, 143, 198);
  
}

.settings-container{
  margin:16px;
  background-color: aliceblue;
}

.options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}

.option{
  margin-left: 10px;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.generate-button{
  width :460px;
  height: 40px;
}


